* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url('/christmas-pattern.jpg'); */
    background-image: url('../images/christmas-pattern.jpg');
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;

    color: darkgreen;
    font-family: 'Courier New', Courier, monospace;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

h1 {
    font-size: 80px;
    text-shadow: 6px 6px 0px pink;
}

p {
    font-size: 35px;
}

.container {
    height: 550px;
    width: 1050px;
    background-color: pink;
    position: relative;
}

.landingPage{
    height: 100%;
    width: 100%;
    color: white;
    background-color: darkgreen;

    position: absolute;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.landingPage p {
    font-size: 35px;
    font-weight: normal;
}

.left {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.game{
    height: 100%;
    width: 100%;
    background-color: darkgreen;

    position: absolute; 
 
    display: none;
    align-items: center;
    justify-content: center;
}

.gameOver{
    height: 100%;
    width: 100%;
    background-color: darkgreen;
    color: white;
    
    /* position: relative; */
    position: absolute;

    display: none;
    justify-content: space-around;
    align-items: center;
}


.gameWinning{
    height: 100%;
    width: 100%;
    color: white;
    background-color: darkgreen;

    position: absolute; 

    display: none;
    justify-content: space-around;
    align-items: center;
}

.end {
    font-size: 35px;
    font-weight: bold;
}
